<a href="https://colab.research.google.com/github/VICTORIA-OKESIPE/Python-Beginner-Refresher-Kit/blob/main/From_Scratch_Python_for_Data_Science_and_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

### Numbers

In [ ]:
# Addition
2 + 3

5

In [ ]:
# Subtraction
10 - 7

3

In [ ]:
# Division (return quotient)
15 // 3

5

In [ ]:
# Division (return quotient)
15 // 2

7

In [ ]:
# Division (return remainder)
15 % 2

1

In [ ]:
# Multiplication
3 * 5

15

In [ ]:
# Exponents
5**2

25

In [ ]:
# Expon

7

### Variables

In [ ]:
no_of_icecream_cones = 2 #(Variable naming type = snake type)
NoOfIcecreamCones = 2    #(Variable naming type = *** type)
noOfIcecreamCones = 2    #(Variable naming type = carmel type)

In [ ]:
a = 5
b = 10
c = 15
d = a + b

In [ ]:
d

15

### Strings

In [ ]:
# Strings are like sentences. You always need to quote them. You can single quote
# or double quote them

In [ ]:
text1 = "I am currently in Canada for an Internship Program"

In [ ]:
text1

'I am currently in Canada for an Internship Program'

In [ ]:
text2 = 'You can also use single quote'

In [ ]:
text2

'You can also use single quote'

In [ ]:
# same result

### Printing

In [ ]:
a = "Don't break the flow, keep doing it, at least one hour a day!" # I prefer double quotes ...hahahaha, your choice

In [ ]:
print(a)

Don't break the flow, keep doing it, at least one hour a day!

In [ ]:
print("Never give up!")

Never give up!

In [ ]:
# Accepting Input Variable from User
name = input("Enter your First name: ")
birthday = input("Enter your Birthdate (e.g., May 3rd): ")

Enter your First name: Victoria
Enter your Birthdate (e.g., May 3rd): May 3rd

In [ ]:
print("{}'s birthday is {}.".format(name,birthday))

Victoria's birthday is May 3rd.

In [ ]:
print(name + "'s birthday is " + birthday + ".")

Victoria's birthday is May 3rd.

In [ ]:
age = 23

In [ ]:
print(age)

23

In [ ]:
occupation = "Intern"   # Remember to always use quotes for text

In [ ]:
print(occupation)

Intern

### Lists

In [ ]:
[7,8,9,10]

[7, 8, 9, 10]

In [ ]:
x = [7,8,9,10]

In [ ]:
new_list = ["apple", "cucumber", "pineapple", "grapes", "lemon"] # Again, you use quotes when dealing with strings
print(new_list)

['apple', 'cucumber', 'pineapple', 'grapes', 'lemon']

In [ ]:
# list of list
y = ["apple", 1, 2, ]