<a href="https://colab.research.google.com/github/VICTORIA-OKESIPE/Python-Beginner-Refresher-Kit/blob/main/From_Scratch_Python_for_Data_Science_and_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

### Numbers

In [ ]:
# Addition
2 + 3

5

In [ ]:
# Subtraction
10 - 7

3

In [ ]:
# Division (return quotient)
15 // 3

5

In [ ]:
# Division (return quotient)
15 // 2

7

In [ ]:
# Division (return remainder)
15 % 2

1

In [ ]:
# Multiplication
3 * 5

15

In [ ]:
# Exponents
5**2

25

In [ ]:
# Expon

7

### Variables

In [ ]:
no_of_icecream_cones = 2 #(Variable naming type = Snake case)
NoOfIcecreamCones = 2    #(Variable naming type = Pascal case)
noOfIcecreamCones = 2    #(Variable naming type = Carmel type)

In [ ]:
a = 5
b = 10
c = 15
d = a + b

In [ ]:
d

15

### Strings

In [ ]:
# Strings are like sentences. You always need to quote them. You can single quote
# or double quote them

In [ ]:
text1 = "I am currently in Canada for an Internship Program"

In [ ]:
text1

'I am currently in Canada for an Internship Program'

In [ ]:
text2 = 'You can also use single quote'

In [ ]:
text2

'You can also use single quote'

In [ ]:
# same result

### Printing

In [ ]:
a = "Don't break the flow, keep doing it, at least one hour a day!" # I prefer double quotes ...hahahaha, your choice

In [ ]:
print(a)

Don't break the flow, keep doing it, at least one hour a day!

In [ ]:
print("Never give up!")

Never give up!

In [ ]:
# Accepting Input Variable from User
name = input("Enter your First name: ")
birthday = input("Enter your Birthdate (e.g., May 3rd): ")

Enter your First name: Victoria
Enter your Birthdate (e.g., May 3rd): May 3rd

In [ ]:
print("{}'s birthday is {}.".format(name,birthday))

Victoria's birthday is May 3rd.

In [ ]:
print(name + "'s birthday is " + birthday + ".")

Victoria's birthday is May 3rd.

In [ ]:
age = 23

In [ ]:
print(age)

23

In [ ]:
occupation = "Intern"   # Remember to always use quotes for text

In [ ]:
print(occupation)

Intern

### Lists

In [ ]:
[7,8,9,10]

[7, 8, 9, 10]

In [ ]:
x = [7,8,9,10]

In [ ]:
new_list = ["apple", "cucumber", "pineapple", "grapes", "lemon"] # Again, you use quotes when dealing with strings
print(new_list)

['apple', 'cucumber', 'pineapple', 'grapes', 'lemon']

In [3]:
# list of list
y = ["apple", 1, 2, [3,4]]
print(y)

['apple', 1, 2, [3, 4]]

In [8]:
# Selecting elements in a list
y[0]   # we use square brackets for selecting
       # in Python, indexing (that is positions: by row/colum)
       # begins from 0.

'apple'

In [6]:
y[-1]

[3, 4]

In [7]:
y[3]

[3, 4]

In [10]:
y[3][0]   # Selecting nested element/list

3

In [11]:
new_list = ["apple", "cucumber", "pineapple", "grapes", "lemon"] # Again, you use quotes when dealing with strings
print(new_list)

['apple', 'cucumber', 'pineapple', 'grapes', 'lemon']

In [13]:
new_list[-1:]   # -1: means end of a list

['lemon']

In [15]:
new_list[:-1]   # everything except the last item in the list

['apple', 'cucumber', 'pineapple', 'grapes']

In [16]:
# replacing an element in a list
new_list[0] = "cabbage"
print(new_list)

['cabbage', 'cucumber', 'pineapple', 'grapes', 'lemon']

In [17]:
nested = [1,2,3,[4,5,['focus']]]

In [18]:
nested[3]

[4, 5, ['focus']]

In [19]:
nested[3][2]

['focus']

### Dictionaries

In [20]:
# key: "value"
# braces is used here NOT square brackets
data = {'book':'dataScience','school':'hecMontreal'}

In [21]:
print(data)

{'book': 'dataScience', 'school': 'hecMontreal'}

In [30]:
data['book']   # to select elements in a dictionary, you use
               # the key (NOT numbers)

'dataScience'

In [31]:
data["school"]

'hecMontreal'

In [32]:
data1={'k1':[1,2,3]}

In [33]:
data1['k1'][0]   # we do this (used number at some point), because
                 # the values in this particular dict. is a list

1

In [34]:
data1['k1'][1]

2

In [36]:
data1['k1'][2]

3

### Boleans

In [37]:
True

True

In [38]:
False

False

In [39]:
2 > 3

False

In [41]:
2 == 2   # not 2 = 2, this '=' in Python is used for assigning values
         # for instance, to a variable.

True

In [42]:
3 > 1

True